:root {
    --color-primary: #2B124C;
    --color-DARK: #190019;
    --color-secondary: #822B5B; 
    --color-tertiary: #854F8C;
    --color-neutral1: #dfb6b2;
    --color-neutral2: #fbe4d8;   
    
  }

  